.message {
  height: 90vh;
  /* overflow: auto; */
  position: relative;
  padding-bottom: 200px;
  box-sizing: border-box;
}

.friendList {
  width: 300px;
  border-right: 1px solid #4e5f6b;
  border-top: 1px solid #4e5f6b;
  border-bottom: 1px solid #4e5f6b;
  position: absolute;
  right: -300px;
  height: 100%;
  top: 70px;
  box-sizing: content-box;
  padding-left: 0;
  z-index: 9999;
}

.content {
  max-height: 680px;
  overflow: auto;
}
.content .me,
.content .other {
  padding: 20px;
  display: flex;
  color: #ccc;
  font-size: 16px;
  box-sizing: border-box;
}

.content .me {
  flex-direction: row-reverse;
}

.content .me img,
.content .other img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid red;
  margin-right: 20px;
}

.content .me img {
  margin-right: 0;
  margin-left: 20px;
}

.friendBox {
  position: relative;
  padding: 10px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 16px;
  border-bottom: 1px solid #4e5f6b;
}

.friendBox img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.friendBox.active {
  opacity: 0.4;
}

.editor {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
}

.notRead {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: red;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
}
